html,
body {
  height: 100%;
  position: relative;
}
.mdk-header-layout,
.mdk-drawer-layout,
.mdk-drawer-layout__content {
  height: initial;
  min-height: 100%;
}

.page {
  padding-bottom: $grid-gutter-width;
}

.page__container,
.page__heading-container {
  .layout-default &,
  .layout-fluid & {
    @include media-breakpoint-up(xl) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
  .layout-fluid & {
    max-width: 1300px;
  }
  .layout-default & {
    max-width: 1300px;
  }
}

.page__heading {
  h1 {line-height: 1;}
  padding-top: $grid-gutter-width /2;
  padding-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up(xl) {
    &:not(.page__heading--xl_small) {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
      
    }
  }
}
.layout-default, .layout-fixed, .layout-mini
  {
    .page__heading {
      border-bottom:1px solid $border-color;
      margin-bottom: $grid-gutter-width/2;
      @include media-breakpoint-up(xl) {
        &:not(.page__heading--xl_small) {
          margin-bottom: $grid-gutter-width;
        }
      }
    }
}

.page__header {
  background: white;
  box-shadow: 0 5px 15px 0 rgba(227,227,227,0.50);
  margin-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up(xl) {
    margin-bottom: $grid-gutter-width;
  }
  z-index: 3;
  & + .page__header {
    z-index: 2;
  }
  position: relative;
}

// sticky subnav

.layout-sticky-subnav {
  .mdk-header-layout {
    overflow: initial;
  }
  .page__header {
    &-nav {
      position: sticky;
      top: $navbar-height;
      z-index: 1;
    }
    &:first-child {
      margin-bottom: 0;
      box-shadow: none;
    }
  }
  .page__container {
    z-index: 0;
    position: relative;
  }
}

.mdk-header--shadow::after {
  box-shadow: 0 5px 15px 0 rgba(227,227,227,0.50);
  bottom: 0;
  height: $navbar-height;
}

.projects-item {
  margin-bottom: 0 !important;
  padding-bottom: .4375rem;
  border-left: 1px dotted rgba(55, 77, 103, 0.2);
  margin-left: 10px;
}

.bottom-spacing {
  margin-bottom: $grid-gutter-width / 2;
  
  @include media-breakpoint-up(lg) {
    margin-bottom: $grid-gutter-width;
  }
}


.layout-login-centered-boxed__form {
    padding: 2rem;
    position: relative;
    min-width: calc(320px + 3rem * 2);
    margin: 2rem 0;
}

.layout-login-centered-boxed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;
}

.alert-soft-danger {
    color: #dc3545;
    background-color: rgba(220,53,69,0.05);
    border-color: #f5c6cb;
}

.input-group.input-group-merge .field_with_errors {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.text-label, .text-label-large, .card-form__body label:not([class]) {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgba(147,159,173,0.84);
    line-height: .9375rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.button-box {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.remove_fields {
  display: block;
  width: 100%;
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
